<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.kortina.alfred.email-fin</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1A7BFFE8-7230-4FC8-8A2A-E407B3B2E0FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A7895FA-3145-4EDE-9FA6-70B9B8F93462</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>774F59AC-2FDF-491C-8BC1-ABBEB34332AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E13C7293-E2EC-43F0-BA4D-DF28AE993463</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E13C7293-E2EC-43F0-BA4D-DF28AE993463</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A7BFFE8-7230-4FC8-8A2A-E407B3B2E0FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kortina</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Email-Fin</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>774F59AC-2FDF-491C-8BC1-ABBEB34332AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>f</string>
				<key>subtext</key>
				<string>{note}</string>
				<key>text</key>
				<string>Email Fin</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E13C7293-E2EC-43F0-BA4D-DF28AE993463</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Email to Fin</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7A7895FA-3145-4EDE-9FA6-70B9B8F93462</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>test -e $HOME/.bash_profile &amp;&amp; source $HOME/.bash_profile
echo "{query}" | $NOTE_TO_SELF_DIR/note-to-self.sh 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1A7BFFE8-7230-4FC8-8A2A-E407B3B2E0FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>export NOTE_TO_SELF_FROM=“..@gmail.com"
export NOTE_TO_SELF_TO=“..@in.getfin.com"
export NOTE_TO_SELF_LOG="$HOME/Dropbox/_/notes-to-self.log"
export NOTE_TO_SELF_DIR="$HOME/src/bakpak/ses-emailer-cli"

export AMAZON_ACCESS_KEY_ID=‘..’
export AMAZON_SECRET_KEY=‘..’</string>
	<key>uidata</key>
	<dict>
		<key>1A7BFFE8-7230-4FC8-8A2A-E407B3B2E0FF</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>774F59AC-2FDF-491C-8BC1-ABBEB34332AE</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7A7895FA-3145-4EDE-9FA6-70B9B8F93462</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E13C7293-E2EC-43F0-BA4D-DF28AE993463</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://kortina.net</string>
</dict>
</plist>
