#!/usr/bin/env bash

logfile="$HOME/Library/Logs/s3screenshots.log"
touch $logfile
exec 3>&1 4>&2 >$logfile 2>&1

echo "........................."
echo "Starting s3screenshots..."
echo "........................."

# LOAD .sh_secrets from dotfile:
test -e $HOME/.sh_secrets && source $HOME/.sh_secrets
# OR, add these vars manually:
# export S3_SCREENSHOTS_OSX_USER="`id -un`"
# export S3_SCREENSHOTS_AWS_BUCKET='__YOURS__'
# export S3_SCREENSHOTS_AWS_ID='__YOURS__'
# export S3_SCREENSHOTS_AWS_SECRET='__YOURS__'

for var in S3_SCREENSHOTS_OSX_USER S3_SCREENSHOTS_AWS_BUCKET S3_SCREENSHOTS_AWS_ID S3_SCREENSHOTS_AWS_SECRET; do eval "[ -n \"\$$var\" ]" && echo "$var is set." || echo "$var is **EMPTY**."; done

# add the pyenv shim for locally installed python
export PATH=~/.pyenv/shims:$PATH


cd $HOME/dotfiles/s3screenshots
python s3screenshots.py 2>&1 | tee -a $logfile
