*.orig
*.pyc
*.swo
*.swp
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.secrets
._*
.hg
.svn
.vim/.netrwhist
.vim/black
.vim/plugged
/.bundle/
/tags
Icon
Thumbs.db
\#*\#
doc/tags
ehthumbs.db
madeXVim
s3screenshots.sh
playground/node_modules/*
playground/package-lock.json
