[submodule "themes/tomorrow-theme"]
	path = themes/tomorrow-theme
	url = git@github.com:chriskempson/tomorrow-theme.git
[submodule ".vim/bundle/pyflakes-vim"]
	path = .vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/gnupg"]
	path = .vim/bundle/gnupg
	url = https://github.com/vim-scripts/gnupg.vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/vim-golang"]
	path = .vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang
[submodule ".vim/bundle/vim-scratch"]
	path = .vim/bundle/vim-scratch
	url = https://github.com/duff/vim-scratch
[submodule ".vim/bundle/vimux"]
	path = .vim/bundle/vimux
	url = https://github.com/benmills/vimux
[submodule ".vim/bundle/a.vim"]
	path = .vim/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/cocoa.vim"]
	path = .vim/bundle/cocoa.vim
	url = https://jgoulah@github.com/jgoulah/cocoa.vim.git
[submodule ".vim/bundle/javaScriptLint"]
	path = .vim/bundle/javaScriptLint
	url = git://github.com/kortina/javaScriptLint.vim.git
[submodule ".vim/bundle/vim-markdown-preview"]
	path = .vim/bundle/vim-markdown-preview
	url = git://github.com/nelstrom/vim-markdown-preview.git
[submodule ".vim/bundle/vim-fakeclip"]
	path = .vim/bundle/vim-fakeclip
	url = git@github.com:kana/vim-fakeclip.git
[submodule ".vim/bundle/pydiction"]
	path = .vim/bundle/pydiction
	url = https://github.com/rkulla/pydiction
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule ".vim/bundle/vimux-nose-test2"]
	path = .vim/bundle/vimux-nose-test2
	url = https://github.com/dcosson/vimux-nose-test2
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git@github.com:Lokaltog/powerline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".vim/bundle/fountain.vim"]
	path = .vim/bundle/fountain.vim
	url = https://github.com/vim-scripts/fountain.vim.git
[submodule ".vim/bundle/vim-markdown-folding"]
	path = .vim/bundle/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-livedown"]
	path = .vim/bundle/vim-livedown
	url = https://github.com/shime/vim-livedown
[submodule ".vim/bundle/LanguageTool"]
	path = .vim/bundle/LanguageTool
	url = https://github.com/vim-scripts/LanguageTool.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule ".vim/bundle/vim-vroom"]
	path = .vim/bundle/vim-vroom
	url = https://github.com/skalnik/vim-vroom
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
