.svn
.hg
*.pyc
doc/tags
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.secrets
._*
Icon
Thumbs.db
ehthumbs.db
*.swp
*.swo
*.orig
*~
\#*\#
/tags
/.bundle/
madeXVim
.vim/.netrwhist
.vim/plugged/**
s3screenshots.sh
playground/node_modules/*
playground/package-lock.json
