<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>07A721AC-9BD8-4DB5-BA51-E33252CEB3B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3A4990C-620A-4214-80AD-42FD7180EA8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17181DC0-85BB-47AE-9C8D-BBC0160E561C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3A4990C-620A-4214-80AD-42FD7180EA8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3A4990C-620A-4214-80AD-42FD7180EA8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5BC59B5-B2EB-4F2B-A3F5-671FCD92A3BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5BC59B5-B2EB-4F2B-A3F5-671FCD92A3BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6554608F-15D4-4843-857D-9402536E3BD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kortina</string>
	<key>description</key>
	<string>slugify pasteboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pb: pbpaste | slugify | pbcopy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>07A721AC-9BD8-4DB5-BA51-E33252CEB3B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Slugified</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6554608F-15D4-4843-857D-9402536E3BD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D5BC59B5-B2EB-4F2B-A3F5-671FCD92A3BC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env bash

test -e $HOME/.bash_profile &amp;&amp; source $HOME/.bash_profile
pbpaste | slugify.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C3A4990C-620A-4214-80AD-42FD7180EA8E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>slugify</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Slugify Pasteboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>17181DC0-85BB-47AE-9C8D-BBC0160E561C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Strip pasteboard formatting, to paste plain text</string>
	<key>uidata</key>
	<dict>
		<key>07A721AC-9BD8-4DB5-BA51-E33252CEB3B0</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>17181DC0-85BB-47AE-9C8D-BBC0160E561C</key>
		<dict>
			<key>xpos</key>
			<real>160</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>6554608F-15D4-4843-857D-9402536E3BD0</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>C3A4990C-620A-4214-80AD-42FD7180EA8E</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>D5BC59B5-B2EB-4F2B-A3F5-671FCD92A3BC</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>kortina.nyc</string>
</dict>
</plist>
