<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.paulsri.alfred-caffeinate</string>
	<key>connections</key>
	<dict>
		<key>600F7343-DF4F-4955-ABAD-2857DE3F72FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA990336-A0FE-45EE-9245-06846C96724B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9974B6F4-4606-4479-8021-3B2E9E23D155</key>
		<array/>
		<key>BA990336-A0FE-45EE-9245-06846C96724B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA401A48-D4FB-4D73-AEA5-9450DCFA76C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA401A48-D4FB-4D73-AEA5-9450DCFA76C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9974B6F4-4606-4479-8021-3B2E9E23D155</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paul Sri</string>
	<key>description</key>
	<string>Prevent macOS from Sleeping</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Caffeinate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Caffeinate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CA401A48-D4FB-4D73-AEA5-9450DCFA76C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>alfred-caffeinate.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA990336-A0FE-45EE-9245-06846C96724B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>caffeine</string>
				<key>subtext</key>
				<string>Prevent macOS from Sleeping</string>
				<key>text</key>
				<string>Caffeinate</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>600F7343-DF4F-4955-ABAD-2857DE3F72FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Morse</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>9974B6F4-4606-4479-8021-3B2E9E23D155</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>600F7343-DF4F-4955-ABAD-2857DE3F72FC</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>9974B6F4-4606-4479-8021-3B2E9E23D155</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>BA990336-A0FE-45EE-9245-06846C96724B</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>CA401A48-D4FB-4D73-AEA5-9450DCFA76C0</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>paulsri.com</string>
</dict>
</plist>
