<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>3806FAAC-0AAD-4780-8866-356BB3A31930</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1395C359-5C76-43BE-9256-463FB6B8455D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49C735BB-8CC8-497E-A7F0-2E15CDB293FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1B5D329-F9EA-40F2-AE86-C919F664F235</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7450CA8A-7A0A-4AA9-A724-D279C4DD61EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49C735BB-8CC8-497E-A7F0-2E15CDB293FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C898FB6-4A54-4C6E-A44E-8BDE563C5786</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7450CA8A-7A0A-4AA9-A724-D279C4DD61EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1B5D329-F9EA-40F2-AE86-C919F664F235</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3806FAAC-0AAD-4780-8866-356BB3A31930</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kortina</string>
	<key>description</key>
	<string>pbpaste to lowercase</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pb: pbpaste | 2lowercase | pbcopy</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7450CA8A-7A0A-4AA9-A724-D279C4DD61EC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>pb2lowercase: {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1395C359-5C76-43BE-9256-463FB6B8455D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pb2lowercase</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>pb2lowercase</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7C898FB6-4A54-4C6E-A44E-8BDE563C5786</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3806FAAC-0AAD-4780-8866-356BB3A31930</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>49C735BB-8CC8-497E-A7F0-2E15CDB293FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>B1B5D329-F9EA-40F2-AE86-C919F664F235</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>export NOTE_TO_SELF_FROM=“..@gmail.com"
export NOTE_TO_SELF_TO=“..@in.getfin.com"
export NOTE_TO_SELF_LOG="$HOME/Dropbox/_/notes-to-self.log"
export NOTE_TO_SELF_DIR="$HOME/src/bakpak/ses-emailer-cli"

export AMAZON_ACCESS_KEY_ID=‘..’
export AMAZON_SECRET_KEY=‘..’</string>
	<key>uidata</key>
	<dict>
		<key>1395C359-5C76-43BE-9256-463FB6B8455D</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>3806FAAC-0AAD-4780-8866-356BB3A31930</key>
		<dict>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>49C735BB-8CC8-497E-A7F0-2E15CDB293FA</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>7450CA8A-7A0A-4AA9-A724-D279C4DD61EC</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>7C898FB6-4A54-4C6E-A44E-8BDE563C5786</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>B1B5D329-F9EA-40F2-AE86-C919F664F235</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://kortina.nyc/</string>
</dict>
</plist>
