<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>30AFC699-BE32-48EF-8F22-986CC03CE446</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98E705AA-2C2F-490F-AA29-B18EA1C4E517</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98E705AA-2C2F-490F-AA29-B18EA1C4E517</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BB6DD07-5D29-4397-9E53-9F4CDC16BBB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1055B9D-BBE5-46AB-A688-C836EDA1AF89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98E705AA-2C2F-490F-AA29-B18EA1C4E517</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hotkey - Copy RTF Link to Pasteboard</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>30AFC699-BE32-48EF-8F22-986CC03CE446</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/usr/bin/env bash

url=`osascript -e 'tell application "Google Chrome" to return URL of active tab of front window' | grep -v '\r\n'`
title=`osascript -e 'tell application "Google Chrome" to return title of active tab of front window' | grep -v '\r\n'`
echo "&lt;a href=\"$url\"&gt;$title&lt;/a&gt;" | textutil -stdin -format html -convert rtf -stdout | pbcopy
echo -e "$title\n$url"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>98E705AA-2C2F-490F-AA29-B18EA1C4E517</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>copy-rtf-link-to-pasteboard</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>copy-rtf-link-to-pasteboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B1055B9D-BBE5-46AB-A688-C836EDA1AF89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied Link</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3BB6DD07-5D29-4397-9E53-9F4CDC16BBB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>30AFC699-BE32-48EF-8F22-986CC03CE446</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>3BB6DD07-5D29-4397-9E53-9F4CDC16BBB6</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>98E705AA-2C2F-490F-AA29-B18EA1C4E517</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B1055B9D-BBE5-46AB-A688-C836EDA1AF89</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
