<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1A7BFFE8-7230-4FC8-8A2A-E407B3B2E0FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1395C359-5C76-43BE-9256-463FB6B8455D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>774F59AC-2FDF-491C-8BC1-ABBEB34332AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A7BFFE8-7230-4FC8-8A2A-E407B3B2E0FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB0A94ED-868C-4926-B993-971DCCAB0D36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB0A94ED-868C-4926-B993-971DCCAB0D36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71D8DBFA-64AB-4617-91A3-09948C71CC88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kortina</string>
	<key>description</key>
	<string>download URL in clipboard as markdown with gather</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>dl-markdown.py</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>774F59AC-2FDF-491C-8BC1-ABBEB34332AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>test -e $HOME/.bash_profile &amp;&amp; source $HOME/.bash_profile
dl-markdown.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1A7BFFE8-7230-4FC8-8A2A-E407B3B2E0FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>saved: {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1395C359-5C76-43BE-9256-463FB6B8455D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB0A94ED-868C-4926-B993-971DCCAB0D36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>dl: {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>71D8DBFA-64AB-4617-91A3-09948C71CC88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>export NOTE_TO_SELF_FROM=“..@gmail.com"
export NOTE_TO_SELF_TO=“..@in.getfin.com"
export NOTE_TO_SELF_LOG="$HOME/Dropbox/_/notes-to-self.log"
export NOTE_TO_SELF_DIR="$HOME/src/bakpak/ses-emailer-cli"

export AMAZON_ACCESS_KEY_ID=‘..’
export AMAZON_SECRET_KEY=‘..’</string>
	<key>uidata</key>
	<dict>
		<key>1395C359-5C76-43BE-9256-463FB6B8455D</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>1A7BFFE8-7230-4FC8-8A2A-E407B3B2E0FF</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>71D8DBFA-64AB-4617-91A3-09948C71CC88</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>774F59AC-2FDF-491C-8BC1-ABBEB34332AE</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>BB0A94ED-868C-4926-B993-971DCCAB0D36</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://kortina.nyc/</string>
</dict>
</plist>
